<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Navatar" lan="" version="1.1.0" date="2018-12-24" compatibility="2.0" installRequired="true" >
	<author name="Arun S. Sekher" url="https://github.com/arunshekher" />
	<summary lan="">A plugin that generates user avatar that has your initials.</summary>
	<description lan="">A Plugin that uses initials from your username or real name to create avatar images for users if they haven't uploaded their own avatar images.</description>
	<keywords>
		<word>enhancement</word>
		<word>user</word>
		<word>avatar</word>
	</keywords>
	<category>users</category>
	<copyright>Arun S. Sekher</copyright>
	<adminLinks>
		<link url="admin_config.php" description="" icon="images/navatar_32.png" iconSmall="images/navatar_16.png" icon128="images/navatar_128.png" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
	<pluginPrefs>
		<pref name='master_active'>1</pref>
		<pref name='user_trigger_event'>both</pref>
		<pref name='job_queue_active'>0</pref>
		<pref name='navatar_size'>250</pref>
		<pref name='navatar_quality'>100</pref>
		<pref name='initials_source'>realname</pref>
		<pref name='php_graphics_lib'>gd</pref>
		<pref name='character_length'>2</pref>
		<pref name='font_color'>#ffffff</pref>
		<pref name='font_size'>0.5</pref>
		<pref name='font_variant'>/fonts/NotoSans-Bold.ttf</pref>
		<pref name='background_colors'>
#fe4a49
#2ab7ca
#fed766
#f4b6c2
#f6abb6
#03396c
#005b96
#6497b1
#651e3e
#851e3e
#dec3c3
#4a4e4d
#0e9aa7
#3da4ab
#f6cd61
#fe8a71
#63ace5
#2a4d69
#4b86b4
#adcbe3
#fe9c8f
#feb2a8
#f9caa7
#009688
#ee4035
#f37736
#fdf498
#7bc043
#0392cf
#96ceb4
#ffeead
#ff6f69
#ffcc5c
#88d8b0
#854442
#be9b7b
#3b5998
#a8e6cf
#dcedc1
#ffd3b6
#ffaaa5
#ff8b94
        </pref>
		<pref name='random_bg_color'>1</pref>
	</pluginPrefs>
	<dependencies>
		<PHP name='core' min_version='5.6' />
		<extension name='fileinfo' />
		<extension name='gd' />
		<extension name='imagick' />
	</dependencies>
</e107Plugin>