<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Navatar" lan="" version="1.1.2" date="2018-12-24" compatibility="2.0" installRequired="true" >
	<author name="Arun S. Sekher" url="https://github.com/arunshekher" />
	<summary lan="">A plugin that generates user avatar that has your initials.</summary>
	<description lan="">A Plugin that uses initials from your username or real name to create avatar images for users if they haven't uploaded their own avatar images.</description>
	<keywords>
		<word>enhancement</word>
		<word>user</word>
		<word>avatar</word>
	</keywords>
	<category>users</category>
	<copyright>Arun S. Sekher</copyright>
	<adminLinks>
		<link url="admin_config.php" description="" icon="images/navatar_32.png" iconSmall="images/navatar_16.png" icon128="images/navatar_128.png" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
	<pluginPrefs>
		<pref name='master_active'>1</pref>
		<pref name='user_trigger_event'>both</pref>
		<pref name='job_queue_active'>0</pref>
		<pref name='navatar_size'>250</pref>
		<pref name='navatar_quality'>100</pref>
		<pref name='initials_source'>realname</pref>
		<pref name='php_graphics_lib'>gd</pref>
		<pref name='character_length'>2</pref>
		<pref name='font_color'>#ffffff</pref>
		<pref name='font_size'>0.5</pref>
		<pref name='font_variant'>/fonts/NotoSans-Bold.ttf</pref>
		<pref name='background_colors'>
#3e4fb4
#3765d3
#eb1a22
#bd081c
#c6b65f
#56ae9b
#feea39
#7c2f47
#32132f
#3e4fb4
#63b26f
#795447
#9a5030
        </pref>
		<pref name='random_bg_color'>1</pref>
	</pluginPrefs>
	<dependencies>
		<PHP name='core' min_version='5.6' />
		<extension name='fileinfo' />
		<extension name='gd' />
		<extension name='imagick' />
	</dependencies>
</e107Plugin>