<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Navatar" lan="" version="1.0.4" date="2018-12-24" compatibility="2.0" installRequired="true" >
	<author name="Arun S. Sekher" url="https://github.com/arunshekher" />
	<summary lan="">A plugin that generates user avatar that has your initials.</summary>
	<description lan="">A Plugin that uses initials from your username or real name to create avatar images for users if they haven't uploaded their own avatar images.</description>
	<keywords>
		<word>enhancement</word>
		<word>user</word>
		<word>avatar</word>
	</keywords>
	<category>users</category>
	<copyright>Arun S. Sekher</copyright>
	<adminLinks>
		<link url="admin_config.php" description="" icon="" iconSmall="" icon128="" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
	<pluginPrefs>
		<pref name='master_active'>1</pref>
		<pref name='user_trigger_event'>both</pref>
		<pref name='job_queue_active'>0</pref>
		<pref name='navatar_size'>250</pref>
		<pref name='navatar_quality'>100</pref>
		<pref name='initials_source'>username</pref>
		<pref name='php_graphics_lib'>gd</pref>
		<pref name='character_length'>2</pref>
		<pref name='font_color'>#ffffff</pref>
		<pref name='font_size'>0.5</pref>
		<pref name='font_variants'>/fonts/NotoSans-Bold.ttf</pref>
		<pref name='background_colors'>
#55efc4
#81ecec
#74b9ff
#a29bfe
#dfe6e9
#00b894
#00cec9
#0984e3
#6c5ce7
#b2bec3
#ffeaa7
#fab1a0
#ff7675
#fd79a8
#636e72
#fdcb6e
#e17055
#d63031
#e84393
#2d3436
		</pref>
		<pref name='random_bg_color'>1</pref>
	</pluginPrefs>
	<dependencies>
		<PHP name='core' min_version='5.6' />
		<extension name='fileinfo' />
		<extension name='gd' />
		<extension name='imagick' />
	</dependencies>
</e107Plugin>